
body{
        
    max-width:100%;
    overflow-x:hidden;
}
header {
    background-color: red;
    color: white;
    padding: 3%;
    display:inline
}
h1 {
    padding-left: 10%;
}
nav {
    text-align: center;
    background-color: darkred;
    color: white;
    padding: 1.5%;
    font-size: x-large;
}
#home {
    border-right: 1px solid white;
}
h2 {
    padding: 1%;
}
footer {
    background-color: gray;
    color: white;
    text-align: center;
    padding: 0%;
    bottom: 0;
    height:10%;
    width: 100%;
}
.row {
    margin-left: 0;
}
button {
    float: right;
}
.btn {
    padding: 0;
    padding-left: 2%;
    padding-right: 2%;
}
#main {
    margin: auto;
    width: 80%;
}
#faves {
    margin: auto;
    width: 80%;
    min-height: calc(70vh - 20px);

}
#searchbar {
    margin-top: 4%;
}
#add{
    font-size:20px;
    margin-bottom:2%;
    margin-left:60%;
    border-radius:5px;
    background-color: yellow;
    box-shadow: 8px 8px;
    padding:10px;
}
td{
    font-size:15px;
}
th{
    font-size:15px;
}
#t1,#t2,#name, #index{
    font-size:20px;
}
#namebar{
    margin-top:2%;
    border-top:1px solid gray;
}
#inputfield{
    font-size:25px;
    border:1px solid gray;
    padding:2%;
    background-color:hsl(60, 100%, 90%);
}
ul {
    padding-bottom: 5%;
}
@media screen and (max-width: 480px) {
    body{
        overflow-x:hidden;
        overflow-y:scroll;
    }
    #main {
        width: 100%;
    }
    #home {
        border-bottom: 1px solid white;
        border-right: none;
    }
    #home, #favourites {
        padding-top: 3%;
        font-size: large;
    }
    footer {
        margin-bottom: -5px;
        font-size: small;
    }
    #add{
        font-size:15px;
        margin-bottom:2%;
        margin-left:60%;
        border-radius:5px;
        height:40px;
        background-color: yellow;
        box-shadow: 4px 4px;
        padding:2px;
    }
    #name{
        font-size:12px;
        background-color: yellow;
        border:2px solid gray;
    }
    #faves {
        width: 100%;
    }
}
