header {
    background-color: red;
    color: white;
    padding: 3%;
}
h1 {
    padding-left: 10%;
}
nav {
    text-align: center;
    background-color: darkred;
    color: white;
    padding: 1.5%;
}
h2 {
    padding: 1%;
}
footer {
    background-color: gray;
    color: white;
    text-align: center;
    padding: 0%;
    left: 0;
    bottom: 0;
    height:10%;
    width: 100%;
}
.row {
    margin-left: 0;
}
button {
    float: right;
}
.btn {
    padding: 0;
    padding-left: 2%;
    padding-right: 2%;
}
#main {
    margin: auto;
    width: 80%;
}
a {
    color: white;
}
#searchbar {
    margin-top: 4%;
}
#typeTable{
}
#statsTable{
}
#imageTable{
}
#namebar{
}
#add{
    margin-bottom:2%;
    background-color:red;
    font-size:25px;
}
@media screen and (max-width: 480px) {
    #main {
        width: 100%;
    }
    #home {
        border-bottom: 1px solid white;
    }
    #home, #favourites {
        padding-top: 3%;
    }
    footer {
        font-size: small;
    }
}
